body {
	max-width: 996px;
	width: 100%;
	font: 100%/1.5 "avendir next condensed", Arial, Helvetica;
	margin: 25px auto;
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 0%, #dce52b 50%, #37db2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(50%,#dce52b), color-stop(100%,#37db2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#dce52b 50%,#37db2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 0%,#dce52b 50%,#37db2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 0%,#dce52b 50%,#37db2b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f4f4 0%,#dce52b 50%,#37db2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#37db2b',GradientType=0 ); /* IE6-9*/
}

header {
	width: 38%;
	float: left;
	padding-top: 10px;
}

nav {
	width: 62%;
	float: left;
	padding-top:45px;
	overflow: hidden;
}

ul {
	width: 100%;
	margin: 0px;
	list-style-type: none;
	display: inline;
	float: left;
	overflow: hidden;
}

a {
	text-decoration: none;
	display: block;
	width: 90px; /*90/996*/
	line-height: 30px;
	text-align: center;
	float: left;
	font-size: 1em;
	color: green;
}
	
a:hover {
	background-color: yellow;
	color: green;
}
	
a:active {
	background-color: green;
	color: yellow;
}

img {
	max-width: 100%;
    height: auto;	
}

article {
	width: 100%;
	text-align: center;
	padding-top: 15px;
	float: left;
}

h1 {
	font-size: 2em;
	text-align: center;
	color: green;
}


h2 {
	font-size: 1.75em;
	text-align: center;
	color: green;
}

a.animals {
	display: inline;
	width: 15%;
	height: auto;
	float: left;
	margin: 16px;
}

a.meet {
	display: inline;
	width:30%;
	height: auto;
	float: left;
	margin: 5px;
}

Img.Tshirt {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a.shirts {
	display: inline;
	width: 30%;
	float: left;
	margin: 3px;
}

aside {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	float: left;
	padding-bottom: 25px;	
}

a.donate {
		width: 150px;
		text-decoration: none;
		text-align: center;
		float: none;
		font-size: 1.5em;
		margin-left: auto;
		margin-right: auto;
}

.charlie {
	font-size: 1.5em;
	text-align: center;
}

IMG.charlie {
	display: block;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

a.email {
	width: 225px;
	text-decoration: none;
	text-align: center;
	float: none;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
}

a.pics {
	display: inline;
	width:32%;
	height: auto;
	float: left;
	margin: 2px;
}

h3 {
	font-size: 1.75em;
	text-align: center;
	color: green;
	margin-bottom: 0px;
}

h4 {
	font-size: 2em;
	text-align: center;
	color: #FFFF00;
}

.contacteae {
	width: 45%;
	padding-bottom: 35px;
	float: left;
}

.contactform {
	width: 45%;
	padding-top: 75px;
	padding-bottom: 35px;
	;
	float: right;
}

.phone {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 15px;
}

.copyright {
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

footer {
	width: 100%;
	padding-top: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	padding-top: 2px;
	padding-left: 2%;
	text-align: center;
	font-size: 1em;
	color: #000;
	float: left;
}